---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Curriculum Vitae</h3>

    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Education</h4>
      </div>
      <div class="col-md-10">
          <p class="fw-bold">M.Sc. Cyber and Network Security</p>
          <p>Politehnica University of Bucharest (2020-2022)</p>

          <p class="fw-bold">B.Sc. Electrical Engineering and Computer Science</p>
          <p>Politehnica University of Bucharest (2016-2020)</p>
      </div>
    </div>

    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Work Experience</h4>
      </div>
      <div class="col-md-10">
          <p class="fw-bold">Software Engineer (September 2021 - Present)</p>
          <p>
            <a href="https://github.com/OpenMined/PySyft">PySyft</a> is 
            an open-source library for secure and private computation on remote
            servers. My responsabilities in the team are diverse and I have worked
            on multiples of its components over the years. Some notable projects
            to which I have contributed are: 
            <ul>
              <li>Scaling the distributed architecture for a production ready
                environment for LLM auditing.</li>
              <li>Implemented a differentially private algorithm using 
                <a href="https://arxiv.org/abs/2008.11193">
                  individual privacy accounting using a Renyi Filter.</a>
              </li>
              <li>Lead the collaboration between OpenMined and 
                <a href="https://www.tensorflow.org/federated">Tensorflow Federated </a> 
                which materialized in a 
                <a href="https://blog.openmined.org/announcing-proof-of-concept-support-for-tff-in-pysyft-0-7/">new way</a>
                to train neural networks within PySyft using Keras</li>
            </ul>
          </p>
        
          <p class="fw-bold">Python Backend Engineer (March 2021 - July 2021)</p>
          <p>
            Designed and built a scalable REST API for an accounting company. 
            The API managed access and operations for a
            cloud storage, task management, and email communication between 
            the customers and the company associates.
            Implemented scheduled tasks to help with the automation of 
            recurrent workflows, using third-party APIs and HSM certificates. 
            This project was done for a small IT company in Romania that worked
            for one of the largest management 
            <a href="https://mirus-group.eu/">company</a> in the country.
          </p>

          <p class="fw-bold">Research Engineer (March 2020 - October 2020)</p>
          <p>Worked at 
            <a href="https://www.crc.mines-paristech.fr/en/">CRC Mines ParisTech</a>
            where I developed an 
            <a href="https://github.com/teo-milea/Demo">interactive holographic interface</a>
            using computer vision to detect gestures that enabled user commands for a camera in a 
            <a href="https://github.com/teo-milea/MeshImporter">simulated environment</a> 
            with a remote physics engine.
          </p>

          <p class="fw-bold">Machine Learning Intern (June 2018 - October 2018)</p>
          <p>Implemented an <a href="https://github.com/teo-milea/pesq_ml">algorithm</a> 
            that predicted Mean Opinion Score and 
            Perceptual Evaluation of Speech Quality for VoIP and VoLTE calls, 
            using machine learning techniques. Developed for 
            <a href="https://en.wikipedia.org/wiki/Ixia_(company)">Ixia@Keysight</a>
          </p>
      </div>
    </div>

    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Teaching Experience</h4>
      </div>
      <div class="col-md-10">
          <p class="fw-bold">Privacy Enhancing Technologies</p>
          <p>Cyber and Network Security Master Programme - Fall 2023, Fall 2022</p>
          
          <p class="fw-bold">Data Science</p>
          <p>Undergraduate Computer Science - Fall 2020, Fall 2021</p>

          <p class="fw-bold">Design of Algorithms</p>
          <p>Undergraduate Computer Science - Spring 2020</p>

          <p class="fw-bold">Analysis of Algorithms</p>
          <p>Undergraduate Computer Science - Fall 2019, Fall 2018</p>

          <p class="fw-bold">Numerical Methods</p>
          <p>Undergraduate Computer Science - Spring 2019</p>

      </div>
    </div>

    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Skills</h4>
      </div>
      <div class="col-md-10">
          <p class="fw-bold">M.Sc. Cyber and Network Security</p>
          <p>Politehnica University of Bucharest (2020-2022)</p>
      </div>
    </div>

    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Volunteering</h4>
      </div>
      <div class="col-md-10">
          <p class="fw-bold">M.Sc. Cyber and Network Security</p>
          <p>Politehnica University of Bucharest (2020-2022)</p>
      </div>
    </div>


  </div>
</div>
