---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Curriculum Vitae</h3>

    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Education</h4>
      </div>
      <div class="col-md-10">
          <p class="fw-bold">M.Sc. Cyber and Network Security</p>
          <p>Politehnica University of Bucharest (2020-2022)</p>

          <p class="fw-bold">B.Sc. Electrical Engineering and Computer Science</p>
          <p>Politehnica University of Bucharest (2016-2020)</p>
      </div>
    </div>

    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Work Experience</h4>
      </div>
      <div class="col-md-10">
          <p class="fw-bold">Software Engineer (September 2021 - Present)</p>
          <p>
            <a href="https://github.com/OpenMined/PySyft">PySyft</a> is 
            an open-source library for secure and private computation on remote
            servers. My responsabilities in the team are diverse and I have worked
            on multiples of its components over the years. Some notable projects
            to which I have contributed are: 
            <ul>
              <li>Scaling the <b>distributed architecture</bb> for a production ready
                environment for <b>LLM auditing</b>.</li>
              <li>Implemented a <b>differentially private algorithm</b> using 
                <b><a href="https://arxiv.org/abs/2008.11193">
                  individual privacy accounting using a Renyi Filter.</a></b>
              </li>
              <li>Lead the collaboration between <b>OpenMined</b> and 
                <b><a href="https://www.tensorflow.org/federated">Tensorflow Federated </a></b> 
                which materialized in a 
                <b><a href="https://blog.openmined.org/announcing-proof-of-concept-support-for-tff-in-pysyft-0-7/">new way</a></b>
                to train neural networks within <b>PySyft</b> using <b>Keras</b></li>
            </ul>
          </p>
        
          <p class="fw-bold">Python Backend Engineer (March 2021 - July 2021)</p>
          <p>
            Designed and built a scalable <b>REST API</b> that managed access and operations for a
            cloud storage, task management, and email communication between 
            the customers and the company associates.
            Implemented scheduled tasks to help with the automation of 
            recurrent workflows, using third-party APIs and <b>HSM certificates</b>. 
            This project was done for a small IT company in Romania that worked
            for one of the largest management 
            <b><a href="https://mirus-group.eu/">company</a></b> in the country.
          </p>

          <p class="fw-bold">Research Engineer (March 2020 - October 2020)</p>
          <p>Worked at 
          <b><a href="https://www.crc.mines-paristech.fr/en/">CRC Mines ParisTech</a></b>
            where I developed an 
          <b><a href="https://github.com/teo-milea/Demo">interactive holographic interface</a></b>
            using computer vision to detect gestures that enabled user commands for a camera in a 
          <b><a href="https://github.com/teo-milea/MeshImporter">simulated environment</a></b> 
            with a remote physics engine.
          </p>

          <p class="fw-bold">Machine Learning Intern (June 2018 - October 2018)</p>
          <p>Implemented an <b><a href="https://github.com/teo-milea/pesq_ml">algorithm</a></b>
            that predicted <b>Mean Opinion Score</b> and 
          <b>Perceptual Evaluation of Speech Quality</b> for VoIP and VoLTE calls, 
            using machine learning techniques. Developed for 
          <b><a href="https://en.wikipedia.org/wiki/Ixia_(company)">Ixia@Keysight</a></b>
          </p>
      </div>
    </div>

    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Teaching Experience</h4>
      </div>
      <div class="col-md-10">
          <p class="fw-bold">Privacy Enhancing Technologies</p>
          <p>Cyber and Network Security Master Programme - Fall 2023, Fall 2022</p>
          
          <p class="fw-bold">Data Science</p>
          <p>Undergraduate Computer Science - Fall 2021, Fall 2020</p>

          <p class="fw-bold">Design of Algorithms</p>
          <p>Undergraduate Computer Science - Spring 2020</p>

          <p class="fw-bold">Analysis of Algorithms</p>
          <p>Undergraduate Computer Science - Fall 2019, Fall 2018</p>

          <p class="fw-bold">Numerical Methods</p>
          <p>Undergraduate Computer Science - Spring 2019</p>

      </div>
    </div>

    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Skills</h4>
      </div>
      <div class="col-md-10">
          <p class="fw-bold">Technologies</p>
          <p><b>Python</b>, Docker, Docker Compose, C/C++, Java, GDScript
          </p>
          <p class="fw-bold">Concepts</p>
          <p>Deep Learning, Differential Privacy, Simulations, Social Graphs</p>
      </div>
    </div>

    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Extra Activities</h4>
      </div>
      <div class="col-md-10">
        <p class="fw-bold">Olympiad of Mathematics</p>
        <p><b>First Place</b> in the national stage and part of the 
        <b>Romania Junior Internation Team</b> (2012), <b>Silver Medals</b> in 2009 and
          2013, and other top places at various national and regional math contests.</p>
        
        <p class="fw-bold"><a href="https://www.youtube.com/watch?v=O4DcnNg9eQ8">Catoptro-tono</a></p>
        <p>Together with a music composer, we have created a musical installation
          that explored the idea of <b>
            <a href="https://cpdonline.co.uk/knowledge-base/mental-health/what-is-catoptrophobia/#:~:text=Someone%20with%20catoptrophobia%20will%20have,own%20reflection%20in%20the%20mirror.">catoptrophobia</a>
          </b>
          and self-exploration. We built
          it using a fusion of sensors that allowed a user to interact with a musical
          inteface run in Ableton using both learning and rule-based algorithms to
          detect static and dynamic gestures. We even got the chance to present it 
          during an exhibition where over <b>500</bb> people have experienced it.
        </p>

        <p class="fw-bold">OpenMined Research Team</p>
        <p>Since 2022, I have volunteered as a staff member in 
          <b><a href="https://blog.openmined.org/introducing-openmined-research/">OpenMined Research Team</a></b>,
          where we help research from multiple universities to collaborate on
          open-source research, usually around the topics of privacy, security,
          and robustness and fairness of Machine Learning models. 
          We provide monthly meetings, seminars and reading groups on these topics
          and managed to help dozens of internation collaborations.
        </p>
        
        <p class="fw-bold">National Organization of Romanian Scouts</p>
        <p>I have been a part of the Romanian Scouts Organization since 2013 and 
          from 2014 to 2016 I have led the local scout troop and continued helping
          the organizations of group until 2019. My informal education activities
          have helped over 500 high-school students and our social activism
          have made a long lasting mark on our local communities.
        </p>
        
        <p class="fw-bold">Romanian Red Cross</p>
        <p>During high school I became a first aid trainer for the local branch
          of the Romanian Red Cross, and taught over 50 high school students. 
          I have also volunteered as a tutor for primary school kids for a 
          foster house. 
        </p>

        <p class="fw-bold">ROSEdu</p>
        <p>Member from 2017, organized 
          <a href="https://codecon.bloomberg.com/">CodeCon@UPB</a>
          by Bloomberg for over 200 contestants over 3 editions.</p>

        <p class="fw-bold"><a href="https://nemodrive.cs.pub.ro/people/">Nemodrive</a></p>
        <p>Part of a larger project with the purpose of developing the first 
          Romanian self-driving car. Helped at the localization
          module.</p>
      </div>
    </div>


  </div>
</div>
